<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoonlightFeedbackURL</key>
	<string>$(MOONLIGHT_FEEDBACK_URL)</string>
	<key>MoonlightCloudKitContainer</key>
	<string>$(MOONLIGHT_ICLOUD_CONTAINER)</string>
	<key>CFBundleName</key>
	<string>Moonlight</string>
	<key>CFBundleDisplayName</key>
	<string>Moonlight</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>GOOGLE_ANALYTICS_ADID_COLLECTION_ENABLED</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LastFMAPIKey</key>
	<string>$(LASTFM_API_KEY)</string>
	<key>LastFMSharedSecret</key>
	<string>$(LASTFM_SHARED_SECRET)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Moonlight Track Drag Payload</string>
			<key>UTTypeIdentifier</key>
			<string>org.musopen.moonlight.track-drag-payload</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Moonlight Album Drag Payload</string>
			<key>UTTypeIdentifier</key>
			<string>org.musopen.moonlight.album-drag-payload</string>
		</dict>
	</array>
</dict>
</plist>
